.Countainer {
  width: 1300px;
  border: 3px solid black;
  border-radius: 50px;
  height: auto;
  background: linear-gradient(to right, green, white, red);
  padding-bottom: 60px;
  padding: 40px;
  background-image: url(../../imgs/backgroundid.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.CountainerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image {
  margin-top: 50px;
  border: 2px solid black;
  min-width: 400px;
}

.TitleMain {
  font-size: 30px;
  border: 2px solid black;
  width: 600px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(to right, green, white, red);
  text-shadow: white 2px 2px 2px;
}

.Title {
  font-size: 25px;
  text-shadow: white 2px 2px 2px;
  background: linear-gradient(to right, green, white, red);
  border: 2px solid black;
  width: 300px;
  border-radius: 20px;
  text-align: center;
}

.Subtitle {
  color: white;
  text-shadow: black 2px 2px 2px;
}

.List {
  list-style: none;
  color: white;
  text-shadow: black 2px 2px 2px;
}
