.Countainer {
  width: 75%;
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 50px;
  height: auto;
  padding: 40px 60px;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.339);
}

.CountainerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.CountainerTwo {
  display: flex;
}

.Image {
  border: 3px solid black;
  object-fit: contain;
  border-radius: 20px;
}

.TitleMain {
  font-size: 30px;
  border: 3px solid black;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(to right, green, white, red);
  text-shadow: rgba(255, 255, 255, 0.65) 2px 2px 2px;
  font-family: fantasy;
}

.Title {
  border: 2px solid black;
  color: rgba(0, 0, 0, 0.762);
  background: linear-gradient(to right, green, white, red);
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  text-shadow: white 1px 1px 1px;
}

.Subtitle {
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-shadow: black 2px 2px 2px;
  font-family: Cardo;
  margin: 30px 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.762);
  border: 3px solid black;
  padding: 20px;
  border-radius: 20px;
}

.List {
  list-style: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  margin: 30px 60px;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  font-family: Cardo;
  background-color: rgba(0, 0, 0, 0.762);
  border: 3px solid black;
  padding: 20px;
  border-radius: 20px;
}
