body {
  margin: 0px;
  padding: 0px;
}

.Card {
  background-image: url(../../imgs/backgroundhome.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}
