.Parent {
  background-image: url(../../imgs/backgroundcreator.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Title:hover {
  transform: scale(1.1);
}

.Submit:hover {
  transform: scale(1.1);
}

.Countainer {
  background-color: rgba(0, 0, 0, 0.339);
  background-size: cover;
  width: 700px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin: 50px;
  padding: 30px;
}

.Select {
  background-color: rgba(0, 0, 0, 0.762);
  text-align: center;
  color: white;
  width: 200px;
  border: 2px solid black;
  height: 23px;
  border-radius: 10px;
  font-family: Cardo;
}

.Title {
  border: 2px solid black;
  color: rgba(0, 0, 0, 0.762);
  background: linear-gradient(to right, green, white, red);
  border-radius: 10px;
  color: black;
  font-family: fantasy;
  padding: 10px;
  text-shadow: white 2px 2px 2px;
}

.Subtitle {
  border: 2px solid black;
  color: rgba(0, 0, 0, 0.762);
  background: linear-gradient(to right, green, white, red);
  padding: 2px;
  border-radius: 10px;
  text-shadow: white 1px 1px 1px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20.5px;
}

.Submit {
  border: 2px solid black;
  color: rgba(0, 0, 0, 0.762);
  background: linear-gradient(to right, green, white, red);
  border-radius: 10px;
  height: 40px;
  width: 80px;
  font-family: Cardo;
  font-size: 20px;
  text-shadow: white 1px 1px 1px;
  cursor: inherit;
}

.InputCreate {
  background-color: rgba(0, 0, 0, 0.762);
  text-align: center;
  color: white;
  width: 200px;
  border: 2px solid black;
  height: 17px;
  border-radius: 10px;
  font-family: Cardo;
}

.SelectDiet {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  text-align: center;
  width: 208px;
  height: 24px;
  border-radius: 10px;
  font-family: Cardo;
}

.Img {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: white;
  border-radius: 50px;
  border-radius: 100px;
  background-size: 50px;
  cursor: inherit;
}

.List {
  list-style: none;
  color: white;
  font-family: Cardo;
  text-shadow: black 2px 2px 2px;
}

.titleErrors {
  color: black;
  background-color: rgba(165, 42, 42, 0.488);
  border: 3px solid brown;
  border-radius: 10px;
  padding: 3px;
  font-size: 13px;
}

::placeholder {
  color: white;
}
