.ButtonCreator {
  background: linear-gradient(to right, green, white, red);
  color: black;
  border: 2px solid black;
  height: 27px;
  margin-right: 50px;
  font-family: Cardo;
  cursor: inherit;
  text-shadow: white 2px 2px 2px;
}

.ButtonCreator:hover {
  text-shadow: black 1px 1px 1px;
  color: white;
}
