.CountainerNav {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.351),
    rgba(0, 128, 0, 0.365),
    rgba(255, 255, 0, 0.365)
  );
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IcoImg {
  margin-left: 25px;
  width: 80px;
  height: 80px;
}

.Title {
  border: 2px solid black;
  color: black;
  background: linear-gradient(to right, red, green, yellow);
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.SeachRecipes {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  height: 20px;
  font-family: Cardo;
}

.DietOrderSelect {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  height: 27px;
  font-family: Cardo;
}

.AlphabeticOrder {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  height: 27px;
  font-family: Cardo;
}

.ButtonCreator {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  height: 27px;
  margin-right: 25px;
  font-family: Cardo;
}

::placeholder {
  color: white;
}
