.Countainer {
  background-image: url(../../imgs/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.CountainerNav {
  background: linear-gradient(to right, green, white, red);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

::placeholder {
  color: white;
}

.Card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding-bottom: 60px;
  margin: 0px;
}

.Page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 0px;
}

.HealthOrderSelect {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  height: 27px;
  font-family: Cardo;
}

.AlphabeticOrder {
  background-color: rgba(0, 0, 0, 0.762);
  color: white;
  border: 2px solid black;
  height: 27px;
  font-family: Cardo;
}
