.Nav {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.List {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px;
  cursor: inherit;
  text-align: center;
  align-content: center;
  align-items: center;
}

.ListChildrens {
  list-style: none;
  background: linear-gradient(to right, green, white, red);
  color: black;
  border-radius: 10px;
  margin: 10px;
  width: 30px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.555) 3px 3px 3px 3px;
}
