.Countainer {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, green, white, red);
  background-position: center;
  border: 2px solid black;
}

.Img {
  max-height: 200px;
}

.Diets {
  border-radius: 20px;
  color: black;
}

.Link {
  text-decoration: none;
}

.Title {
  color: black;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  text-shadow: white 2px 2px 2px;
}

.Subtitle {
  color: black;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  text-shadow: white 2px 2px 2px;
}
