.Countainer {
  width: 300px;
  height: 500px;
  background-image: url(../../imgs/backgroundtomatos.jpeg);
  background-position: center;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.Details {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 15px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  text-shadow: white 2px 2px 2px;
  margin: 8px;
  background: linear-gradient(to right, green, white, red);
}

.Img {
  max-height: 200px;
  min-width: 300px;
  border-radius: 26px;
  border: 2px solid black;
}

.Diets {
  border-radius: 20px;
  color: black;
}

.Link {
  text-decoration: none;
}

.Title {
  color: black;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  text-shadow: white 2px 2px 2px;
  margin: 8px;
  background: linear-gradient(to right, green, white, red);
}

.Subtitle {
  width: 290px;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  text-shadow: black 2px 2px 2px;
  background-color: rgba(0, 0, 0, 0.535);
  margin: 8px;
  font-family: Cardo;
  border: 2px solid black;
}

.Ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
  color: white;
  font-size: 13px;
  list-style: none;
  text-shadow: black 2px 2px 2px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.535);
  font-family: Cardo;
  border: 2px solid black;
  width: 250px;
}
