.Link {
  text-decoration: none;
}

.Title {
  margin-left: 50px;
  border: 2px solid black;
  color: black;
  background: linear-gradient(to right, green, white, red);
  width: 150px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-family: fantasy;
  padding: 10px;
  cursor: inherit;
  text-shadow: white 2px 2px 2px;
}

.Title:hover {
  text-shadow: black 1px 1px 1px;
  color: white;
}
